body {
    background-color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
}

p.footer {
    font-size: 13px;
    font-style: italic;
    text-align: right;
    margin-top: -14px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 4px;
}

p#legend-intro {
    margin-bottom: 4px;
    font-weight: bold;
}

.social-icons {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    float: right;
    margin-right: 5px;
    margin-bottom: -10px;
}

#top-bar-margin {
    margin-bottom: 20px;
}

.share-buttons {
    height: 40px;
    width: 40px;
}

li.share-list {
    display: inline;
    list-style-type: none;
    float: right;
    padding-right: 5px;
}

img.nav-logo {
    height: 35px;
    padding: 10px 25px 0px 10px;
}

img.footer-logo {
    margin-bottom: 30px;
}

a:hover {
    color: rgba(207, 53, 49, .9);
}

.copyright {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
}

body {
    margin-top: 0;
    padding: 0;
}

p.f-scale-text {
    font-size: ;
}

table.simple {
    width: 100%;
}


/* TABLES */

table.tablesorter thead tr .header {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.simple tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.reveal-modal >:first-child,
dialog >:first-child {
    margin-top: 15px;
}

#map {
    width: 100%;
    height: 750px;
    margin-bottom: 20px;
}

hr.popup {
    margin: 5px 0 -10px 0;
}

.legend {
    display: inline-block;
    margin-right: 1em;
}

#f-1 {
    border-top: 13px solid #4863a1;
}

#f-2 {
    border-top: 13px solid #8648a1;
}

#f-3 {
    border-top: 13px solid #a14863;
}

#f-4 {
    border-top: 13px solid #000000;
}

p.f-scale-underline {
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}

#f-scale-box {
    width: 40%;
    float: right;
    margin-left: 12px;
}

div.leaflet-popup-content {
    font-size: 16px;
}


/* -------------------------- Media Queries ------------------------- */

@media (max-width: 750px) {
    #map {
        width: 100%;
        height: 500px;
    }
    .leaflet-control-minimap {
        display: none;
    }
    #f-scale-box {
        width: 100%;
    }
    h1 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 4px;
        line-height: 45px;
    }
}

@media screen and (min-width: 601px) {
    #mobile {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #ad-space {
        display: none !important;
    }
}


/* ----------------------------- Adverts ----------------------------- */

#adwrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #f5f5f5;
    -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: none;
    z-index: 99999;
}

#adwrapper #adframewrapper {
    margin: 4px auto;
    overflow: hidden;
}

#adwrapper a.boxclose {
    position: absolute;
    top: 6px;
    right: 4px;
    width: 30px;
    height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: bold;
    display: none;
    color: #666;
    line-height: 0;
    padding: 13px 6px;
    z-index: 599999;
    text-decoration: none;
    cursor: pointer;
}

#adwrapper a.boxclose:hover {
    color: #333;
}

#adwrapper .boxclose:before {
    content: "\2715";
    text-decoration: none;
}

.row.adcubes {
    margin-top: 4em;
    margin-bottom: 4em;
}

.row.adcubes div.adcube-wrap {
    text-align: center;
}

.row.adcubes div.adcube-wrap > div {
    width: 300px;
    margin: 0 auto;
}

#ad-space {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}
